ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #0072E3;
}

li {
float: left;
border-right: 1px solid #bbb;
}

li a {
display: block;
color: white;
text-align: center;
padding: 24px 26px;
text-decoration: none;
}

li a:hover {
background-color: #500;
}
body {
/* Old browsers */
background: #ffcccc;
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(-45deg, #ffcccc, #00ffff);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(-45deg, #FF359A, #9F35FF);
margin: 0;
padding: 0;
}
h1 {
color: #FFF;
font-size: 4em;
padding-top: 100px;
width: 100%;
}

h2 {
border-bottom: 2px solid rgba(255, 255, 255, 2.5);
color: rgba(255, 255, 255, 1.5);
font-weight: 100;
font-size: 24px;
line-height: 30px;
padding-bottom: 30px;
text-align: center;
width: 90%;
}
h3{

color: rgba(255, 255, 255, 1.5);
font-weight: 100;
font-size: 24px;
line-height: 30px;
padding-bottom: 30px;
text-align: center;
width: 100%;
}

p {
color: aliceblue;
line-height: 2em;
text-align: left;
width: 100%;
font-size: 1.5em;
}